*{
  margin: 0;
  padding: 0;
}
 p{
  font-style: normal;
  padding-bottom: 30px;
}


.banner-title{
  font-weight: 800;
  padding-bottom: 25px;
  font-size: 50px;
}
.banner{
  margin-top: 80px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image{
  width: 300px;
  height: 400px;
 
}
header{
  background:lightpink;
}
#btn{
  border-radius: 5px;
  background:palevioletred;
  color: white;
  
  text-align: center;
  width: 90px;
  height: 40px;
}
.feature-contant{
  margin-top: 100px; 
  text-align: center;
  font-size: 30px;
}
.section-title{
  font-weight: 700;
  margin-bottom: 22px;
}
.flowers-container{
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  height: 605px;
  width: 1440px;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;

 
}
.flower h4 {
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 10px;
}

.flower-pic-one,.flower-pic-two,.flower-pic-three{
  display: flex;
  height: 500px;
  padding: 30px 30px 0 30px;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  justify-content: center;
  align-items: flex-end;
}

.flower-pic img {
  max-width: 250px;
  height: 250px;

}
.flower-pic-one {
    background-color: #F2DEE8;
}

.flower-pic-two {
    background-color: #DAF0F1;
    align-items: center;
}

.flower-pic-three {
    background-color: #E4ECDC;
}
.service-content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
#service{
  padding: 60px 0;
  background-color: #F4F4F4;
  margin-top: 100px;
  height: 110px;
  width: 1440px;
  border-radius: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sirvice-content img {
  display: inline-block;
  width: 70px;
  margin-bottom: 10px;
}

.service-content h3 {
  color: #272727;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 12px;
}
#hot-deal{
  background: rgb(230, 208, 211);
}
.deal-content{
  display: flex;
  align-items: center;
 margin-left: auto;
 margin-right: auto;
  gap: 20px;
}
span{
  color: rgb(204, 87, 106);
}
.deal-text{
  margin-top: 70px; 
  text-align: center;
  font-size: 25px;
  left: 40px;
}
.btn{
  border-radius: 5px;
  background:palevioletred;
  color: white;
  text-align: center;
  width: 90px;
  height: 40px;
}
#hot-deal{
  margin-top: 150px;
  height: 500px;  
}
.deal-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deal-text,.deal-image{
  width: 50%;
}
deal-image {
  display: flex;
  align-items: center;

}

.instagram-content{
  margin-top: 100px; 
  text-align: center;
  font-size: 30px;
}
.instagram-gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 60px;
}
.gallery-item img{
  width: 342px;
  height: 396px;
}
.latest-deal-content{
  background-image: url(./images/Rectangle\ 9.png);
  background-size: cover;
  width: 1400px;
  height: 635;
  padding: 70px 0;
  margin-top: 70px; 
  text-align: center;
  font-size: 25px;
}
#latest-deal{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-deal-content input[type="email"] {
  width: 40%;
  color: black;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 5px;
}
footer {
  margin-top: 50px;
  text-align: center;
  padding: 50px 0;
  background-color:black; 
}

.footer-content {
  max-width: 800px; 
  margin: 0 auto;
}

.section-title {
  color:white;
  font-weight: 800;
  font-size: 30px;

}
.spesial-text{
  color: palevioletred;
}
.footer-content p{
  color: whitesmoke;
  font-size: 20px;
}

.footer-content p small{
  color:lightgray;
  font-weight: 400;
  font-size: 15px;
}

